<div class="form-container" width="100%" *ngIf="documentsLoaded">
  <div class="form-row">

    <!-- Country -->
    <div class="col-md-4">
      <label for="country">Country</label>
      <ng-select
      class="dropdown" 
      [items]="countries"
      bindLabel="country"
      placeholder="Select a country"
      (change)="changedCountry()"
      [(ngModel)]="selectedCountry">
      </ng-select>
    </div>

    <!-- Category -->
    <div class="col-md-4">
      <label for="country">Category</label>
      <ng-select
      class="dropdown" 
      [items]="categories"
      bindLabel="name"
      (change)="changedCategory()"
      placeholder="Select a category"
      [(ngModel)]="selectedCategory">
      </ng-select>
    </div>

    <!-- SubCategory -->
    <div class="col-md-4">
      <label for="country">Subcategory</label>
      <ng-select
      class="dropdown" 
      [items]="subcategories"
      bindLabel="title"
      (change)="changedSubCategory()"
      placeholder="Select a subcategory"
      [(ngModel)]="selectedSubCategory">
      </ng-select>
    </div>

  </div>

</div>

<div class="cards-container">
  <div *ngFor="let document of documents">
    <div class="card mb-4">
      <div class="card-header">{{document.category}} - <b>{{document.subcategory}}</b></div>
      <div class="card-body">
        <h5 class="card-title">{{document.title}}</h5>
        <p class="card-text">Files</p>
        <!--<button class="btn btn-pdf" *ngFor="let file of document.files" (click)="openfile(file)">
          PDF
        </button>-->
        <a *ngFor="let file of document.files" [href]="file" download>
          <button class="btn btn-pdf">
            PDF
          </button>
        </a>
        <a *ngFor="let excel of document.excel" [href]="excel.file" download>
          <button class="btn btn-excel">
            {{excel.title}}
          </button>
        </a>
        <a *ngFor="let zip of document.zip" [href]="zip.file" download>
          <button class="btn btn-zip">
            {{zip.title}}
          </button>
        </a>
      </div>
    </div>
  </div>

</div>
