<div class="form-container" width="100%">
  <form [formGroup]="documentsForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <!-- Country -->
      <div class="form-group col-md-4">
        <label for="country">Country</label>
        <select formControlName="selectedCountry" id="country" class="form-control dropdown" (change)="changedCountry()">
          <option value="" disabled>Choose ..</option>
          <option *ngFor="let country of countries">{{country}}</option>
        </select>
      </div>

      <!-- Category -->
      <div class="form-group col-md-4">
        <label for="category">Category</label>
        <select formControlName="selectedCategory" id="category" class="form-control dropdown" (change)="changedCategory()">
          <option value="" disabled>Choose ..</option>
          <option *ngFor="let category of categories">{{category}}</option>
        </select>
      </div>

      <!-- SubCategory -->
      <div class="form-group col-md-4">
        <label for="subcategory">Sub Category</label>
        <select formControlName="selectedSubCategory" id="subcategory" class="form-control dropdown" (change)="changedSubCategory()">
          <option value="" disabled>Choose ..</option>
          <option *ngFor="let subcategory of subcategories">{{subcategory.title}}</option>
        </select>
      </div>

      <!--<div class="col-md-3">
        <button type="submit" class="btn btn-lg btn-block submit-button">Search</button>
      </div>--> 

    </div>

  </form>
</div>

<div class="cards-container">
  <div *ngFor="let document of documents">
    <div class="card bg-light mb-4">
      <div class="card-header">{{document.category}} - <b>{{document.subcategory}}</b></div>
      <div class="card-body">
        <h5 class="card-title">{{document.title}}</h5>
        <p class="card-text">Files</p>
        <!--<button class="btn btn-pdf" *ngFor="let file of document.files" (click)="openfile(file)">
          PDF
        </button>-->
        <a *ngFor="let file of document.files" [href]="file" download>
          <button class="btn btn-pdf">
            PDF
          </button>
        </a>
        <a *ngFor="let excel of document.excel" [href]="excel.file" download>
          <button class="btn btn-excel">
            {{excel.title}}
          </button>
        </a>
        <a *ngFor="let zip of document.zip" [href]="zip.file" download>
          <button class="btn btn-zip">
            {{zip.title}}
          </button>
        </a>
      </div>
    </div>
  </div>

</div>
