<div class="form-container">
    <h1 class="form-header">Enregistrement d’une marque suisse</h1>
    <form (ngSubmit)="onSubmit()" #tf="ngForm">

        <!-- Applicant -->
        
        <div class="header-container">
            <h3 class="section-header">Déposant</h3>
            <a (click)="showApplicantForm()">
                <h3 class="section-header collapse-button">+</h3>
            </a>
        </div>

        <div class="subform-container" *ngIf="applicantForm">

            <div class="form-row">

                <!-- First Name -->
                <div class="form-group text-input text-input">
                    <label for="applicantFirstName">Prénom</label>
                    <input type = "text" class="form-control" id="applicantFirstName"
                        required
                        [(ngModel)]="tf.applicantFirstName" name="applicantFirstName"
                        #applicantFirstName = "ngModel">
                    <!-- <div [hidden]="applicantFirstName.valid" class="alert alert-danger">ApplicantFirstName is required</div>  -->
                </div>

                <!-- Last Name -->
                <div class="form-group text-input">
                    <label for="applicantLastName">Nom</label>
                    <input type = "text" class="form-control" id="applicantLastName" name="applicantLastName">
                </div>

                <!-- Social Reason -->
                <div class="form-group text-input">
                    <label for="applicantSocialReason">Raison sociale</label>
                    <input type = "text" class="form-control" id="applicantSocialReason" name="applicantSocialReason">
                </div>

                <!-- Address -->
                <div class="form-group text-input">
                    <label for="applicantAddress">Adresse</label>
                    <input type = "text" class="form-control" id="applicantAddress" name="applicantAddress">
                </div>

                <!-- Post code -->
                <div class="form-group text-input">
                    <label for="applicantPostCode">Code Postal</label>
                    <input type = "text" class="form-control" id="applicantPostCode" name="applicantPostCode">
                </div>

                <!-- Location -->
                <div class="form-group text-input">
                    <label for="applicantLocation">Localité</label>
                    <input type = "text" class="form-control" id="applicantLocation" name="applicantLocation">
                </div>

            </div>

        </div>

        <!-- Agent -->

        <div class="header-container">
            <h3 class="section-header">Mandataire</h3>
            <a (click)="showAgentForm()">
                <h3 class="section-header collapse-button">+</h3>
            </a>
        </div>        

        <div class="subform-container" *ngIf="agentForm">

            <div class="form-row">

                <!-- First Name -->
                <div class="form-group text-input">
                    <label for="agentFirstName">Prénom</label>
                    <input type = "text" class="form-control" id="agentFirstName"
                        required
                        [(ngModel)]="tf.agentFirstName" name="agentFirstName"
                        #agentFirstName = "ngModel">
                    <!-- <div [hidden]="agentFirstName.valid" class="alert alert-danger">agentFirstName is required</div>  -->
                </div>
    
                <!-- Last Name -->
                <div class="form-group text-input">
                    <label for="agentLastName">Nom</label>
                    <input type = "text" class="form-control" id="agentLastName" name="agentLastName">
                </div>
    
                <!-- Social Reason -->
                <div class="form-group text-input">
                    <label for="agentSocialReason">Raison sociale</label>
                    <input type = "text" class="form-control" id="agentSocialReason" name="agentSocialReason">
                </div>
    
                <!-- Address -->
                <div class="form-group text-input">
                    <label for="agentAddress">Adresse</label>
                    <input type = "text" class="form-control" id="agentAddress" name="agentAddress">
                </div>
    
                <!-- Post code -->
                <div class="form-group text-input">
                    <label for="agentPostCode">Code Postal</label>
                    <input type = "text" class="form-control" id="agentPostCode" name="agentPostCode">
                </div>
    
                <!-- Location -->
                <div class="form-group text-input">
                    <label for="agentLocation">Localité</label>
                    <input type = "text" class="form-control" id="agentLocation" name="agentLocation">
                </div>
    
            </div>

        </div>
        
        <!-- Contact -->

        <div class="header-container">
            <div class="section-header-container">
                <h3 class="section-header">Personne à contacter</h3>
            </div>
            <div class="collapse-button-container">
                <a (click)="showContactForm()">
                    <h3 class="section-header collapse-button">+</h3>
                </a>
            </div>            
        </div>         

        <div class="subform-container" *ngIf="contactForm">
            <div class="form-row">

                <!-- First Name -->
                <div class="form-group text-input">
                    <label for="contactFirstName">Prénom</label>
                    <input type = "text" class="form-control" id="contactFirstName"
                        required
                        [(ngModel)]="tf.contactFirstName" name="contactFirstName"
                        #contactFirstName = "ngModel">
                    <!-- <div [hidden]="contactFirstName.valid" class="alert alert-danger">contactFirstName is required</div>  -->
                </div>
    
                <!-- Last Name -->
                <div class="form-group text-input">
                    <label for="contactLastName">Nom</label>
                    <input type = "text" class="form-control" id="contactLastName" name="contactLastName">
                </div>
    
                <!-- Social Reason -->
                <div class="form-group text-input">
                    <label for="contactPhone">Téléphone</label>
                    <input type = "text" class="form-control" id="contactPhone" name="contactPhone">
                </div>

                <!-- Application number -->
                <div class="form-group" style="width: 100%;">
                    <label for="appNumber">Numéro de référence, dossier</label>
                    <input type = "text" class="form-control" id="appNumber" name="appNumber">
                </div>
    
            </div>
        </div>

        <!-- Digital Communication -->

        <div class="header-container">
            <div class="section-header-container">
                <h3 class="section-header">Communication électronique</h3>
            </div>
            <div class="collapse-button-container">
                <a (click)="showContactForm()">
                    <h3 class="section-header collapse-button">+</h3>
                </a>
            </div>            
        </div>      
        
        <div class="subform-container" *ngIf="agentForm">
            <div class="form-group">
                <!-- <label for="email">Nom</label> -->
                <input type="checkbox" class="form-control checkbox-input" id="providedEmail" name="providedEmail">
                <label for="providedEmail">Dans la présente procédure, je souhaite recevoir les écrits de l’IPI par voie électronique à l’adresse suivante*:</label>
                <input type="text" name="email" id="email">
            </div>
        </div>

        
        <button type="submit" class="submit-button" [disabled]="!tf.form.valid">Submit</button>

    </form>
</div>

